<a href="https://colab.research.google.com/github/zasminah/Python_DataVisualization/blob/main/Pandas_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
np.random.seed(12345)

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['one','tow','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.204708  1.393406
1    a  tow  0.478943  0.092908
2    b  one -0.519439  0.281746
3    b  two -0.555730  0.769023
4    a  one  1.965781  1.246435

**1)Grouping**

In [8]:
grouped = df['data1'].groupby(df['key1'])
print(grouped) #display only instance information
print(grouped.mean())

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f8afdeee110>
key1
a    0.746672
b   -0.537585
Name: data1, dtype: float64

In [10]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one     0.880536
      tow     0.478943
b     one    -0.519439
      two    -0.555730
Name: data1, dtype: float64

**2)Group Iteration**

In [12]:
for name, group in df.groupby('key1'):
  print('name:', name)
  print(group,'\n')

name: a
  key1 key2     data1     data2
0    a  one -0.204708  1.393406
1    a  tow  0.478943  0.092908
4    a  one  1.965781  1.246435

name: b
  key1 key2     data1     data2
2    b  one -0.519439  0.281746
3    b  two -0.555730  0.769023