<a href="https://colab.research.google.com/github/zasminah/Python_DataVisualization/blob/main/Pandas_Array_Vertor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002,2003],
        'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

frame = pd.DataFrame(data,columns=['year','state','pop','debt'],
                     index=['one','two','three','four','five','six'])

print(frame)
print('\n',frame.columns)
print('\n',frame['state'])
print('\n',frame.year)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

 Index(['year', 'state', 'pop', 'debt'], dtype='object')

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

 one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

To use index value, use loc

In [12]:
print('\n', frame.loc['two'])

 year     2001
state    Ohio
pop       1.7
debt      NaN
Name: two, dtype: object

Insert value

In [13]:
frame['debt'] = 20
print(frame,'\n')
frame['debt']= np.arange(6)
print(frame)

       year   state  pop  debt
one    2000    Ohio  1.5    20
two    2001    Ohio  1.7    20
three  2002    Ohio  3.6    20
four   2001  Nevada  2.4    20
five   2002  Nevada  2.9    20
six    2003  Nevada  3.2    20

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

# 1) Reindex

**Reindex - Series**

In [17]:
obj = pd.Series([4.5,7.2,-5.3,3.6], index = ['d','b','a','c'])
obj2 = obj.reindex(['a','b','c','d','e'])
print(obj,'\n')
print(obj2)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

reindex - ffill : front fill

In [19]:
obj3 = pd.Series(['blue','purple','yello'], index=[0,2,4])
print(obj3)
print('\n', obj3.reindex(range(6), method='ffill'))

0      blue
2    purple
4     yello
dtype: object

 0      blue
1      blue
2    purple
3    purple
4     yello
5     yello
dtype: object

**Reindex - DataFrame**

In [22]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                     index=['a','c','d'],
                     columns=['Ohio','Texas','California'])
print(frame)

frame2 = frame.reindex(['a','b','c','d'])
print('\n',frame2)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

    Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [24]:
states = ['Texas','Utah', 'California']
print('\n', frame.reindex(columns=states))

    Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

# 2) slicing,drop

**Series**

In [37]:
obj = pd.Series(np.arange(4), index=['a','b','c','d'])
print('\n','obj[\'b\']:','\n',obj['b'])
print('\n','obj[1]:', '\n',obj[1])
print('\n','obj[2:4]:','\n',obj[2:4]) # exclude 4
print('\n','obj[[1,3]]:','\n',obj[[1,3]])
print('\n','obj[obj<2]:','\n',obj[obj<2])
print('\n','obj[\'b\':\'c\']:','\n',obj['b':'c']) # include 'c'

 obj['b']:
 1

 obj[1]:
 1

 obj[2:4]:
 c    2
d    3
dtype: int64

 obj[[1,3]]:
 b    1
d    3
dtype: int64

 obj[obj<2]:
 a    0
b    1
dtype: int64

 obj['b':'c']:
 b    1
c    2
dtype: int64

In [40]:
obj = pd.Series(np.arange(5), index=['a','b','c','d','e'])
new_obj = obj.drop('c')
print('\n', new_obj)
print('\n', obj)
print('\n', obj.drop(['d','c']))

 a    0
b    1
d    3
e    4
dtype: int64

 a    0
b    1
c    2
d    3
e    4
dtype: int64

 a    0
b    1
e    4
dtype: int64

**DataFrame**

In [53]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
 
print('\n',data)
print('\n', data.drop(['Colorado','Ohio']))
print('\n', data.drop(['two','four'],axis='columns'))

           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

           one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

           one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

# 3)Calculation
add, sub, div, mul

In [52]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)), columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)), columns=list('abcde'))
print(df1,'\n')
print(df2,'\n')

print(df1+df2, '\n')
print(df1.add(df2, fill_value=0),'\n')

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

DataFrame & Series

In [59]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['Utah','Ohio','Texas','Oregon'],
                    columns=list('bde'))
series = frame.iloc[0]

print(frame)
print('\n', series)
print('\n', frame - series)

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

 b    0
d    1
e    2
Name: Utah, dtype: int64

         b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

# 4) Function and Mapping
Use apply function

In [62]:
frame = pd.DataFrame(np.random.randn(4,3), columns =list('bde'),
                     index = ['Utah','Ohio','Texas','Oregon'])
print('\n', np.abs(frame),'\n') # Universial Function

f = lambda x: x.max()-x.min()
print('\n', frame.apply(f), '\n')
print('\n', frame.apply(f,axis=1),'\n')

def f1(x):
  return pd.Series([x.min(),x.max()], index = ['min','max'])

print('\n', frame.apply(f1), '\n')

                b         d         e
Utah    0.449988  0.872815  0.297850
Ohio    0.998009  0.017814  1.092005
Texas   1.825914  1.682638  0.505220
Oregon  0.299359  0.256502  0.385093


 b    2.275902
d    1.700452
e    1.477098
dtype: float64


 Utah      0.574964
Ohio      2.090014
Texas     3.508551
Oregon    0.641595
dtype: float64


             b         d         e
min -1.825914 -0.017814 -0.385093
max  0.449988  1.682638  1.092005