<a href="https://colab.research.google.com/github/zasminah/Python_DataVisualization/blob/main/Pandas_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# 1) Data Join

In [2]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],
                    'data1':range(7)})
df2 = pd.DataFrame({'key':['a','b','d'],
                    'data2':range(3)})
print('\n', df1,'\n')
print('\n', df2,'\n')

print('\n', pd.merge(df1,df2),'\n')
print('\n', pd.merge(df1,df2, on = 'key'), '\n')
print('\n', pd.merge(df1,df2, how = 'left'),'\n')
print('\n', pd.merge(df1,df2, how = 'right'),'\n')
print('\n', pd.merge(df1,df2, how = 'outer'),'\n') # use all though key is not matched 
print('\n', pd.merge(df1,df2, how = 'inner'),'\n') # use data when key is matched

   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6


   key  data2
0   a      0
1   b      1
2   d      2


   key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0


   key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0


   key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0


   key  data1  data2
0   a    2.0      0
1   a    4.0      0
2   a    5.0      0
3   b    0.0      1
4   b    1.0      1
5   b    6.0      1
6   d    NaN      2


   key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0


   key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [3]:
df3 = pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],
                    'data1':range(7)})
df4 = pd.DataFrame({'rkey':['a','b','d'],
                    'data2':range(3)})
print('\n', pd.merge(df3, df4, left_on='lkey', right_on='rkey'), '\n')

   lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

# 2) Concat

*concat function* 


*   objs 이어붙일 pandas 객체 사전 or 리스트
*   axis 축 방향
*   join key값 안맞을 때 inner, outer, left, right
*   join_axes 합집합,교집합 대신 다른 n-1축으로 색인지정
*   keys 이어붙일 객체나 이어 붙인 축에 대한 색인 생성 연관
*   levels 계측 색인 레벨로 사용할 색인 지정
*   names keys나 levels 혹은 둘다 있는 경우 생성된 계층 레벨을 위한 이름
*   verify 이어붙인 객체에 중복되는 축이 있는지 검사하고 있다면 예외 발생
*   integrity 중복허용
*   ignore_index 이어 붙인 축의 색인을 유지하지 않고 range로 새로운 색인 생성

In [4]:
s1 = pd.Series([0,1], index = ['a','b'])
s2 = pd.Series([2,3,4], index = ['c','d','e'])
s3 = pd.Series([5,6], index = ['f','g'])
print(pd.concat([s1,s2,s3]), '\n') # axis =0
print(pd.concat([s1,s2,s3], axis = 1, sort = False), '\n')

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

# 3) Stack, Unstack
Stack 데이터의 컬럼을 로우로 피벗 또는 회전  ㅡ -> |

Unstack 로우를 컬럼으로 피벅시킨다. | -> ㅡ

In [9]:
data = pd.DataFrame(np.arange(6).reshape((2,3)),
                    index = pd.Index(['Ohio', 'Colorado'],name = 'state'),
                    columns = pd.Index(['one','two','three'],name = 'number'))
print('\n', data, '\n')
result = data.stack()
print('\n', result, '\n')

 number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5


 state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

state : level 0

numver : level 1

In [10]:
print(result.unstack()) #level 1

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [11]:
print(result.unstack(level=0))

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [13]:
print(result.unstack(level=1))

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

Concat & Unstack

In [14]:
s1 = pd.Series([0,1,2,3], index=list('abcd'))
s2 = pd.Series([4,5,6], index=list('cde'))
print('\n', pd.concat([s1,s2]))
data2 = pd.concat([s1,s2], keys=['one','two'])
print('\n', data2)
print('\n', data2.unstack())

 a    0
b    1
c    2
d    3
c    4
d    5
e    6
dtype: int64

 one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

        a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

# 4) Duplicate, Drop

In [15]:
data = pd.DataFrame({'k1':['one']*3+['two']*4,
                     'k2':[1,1,2,3,3,4,4]})
print('\n',data,'\n')
print('\n', data.duplicated(),'\n')
print('\n', data.drop_duplicates(),'\n')

     k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4


 0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool


     k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [18]:
print('\n', data.drop_duplicates(['k1']))

     k1  k2
0  one   1
3  two   3

In [19]:
print('\n', data.drop_duplicates(['k1','k2'], keep='last'))

     k1  k2
1  one   1
2  one   2
4  two   3
6  two   4

# 5) Mapping

In [20]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef',
                             'Bacon','pastrami','honey ham','nova lox'],
                     'ounces':[4,3,12,6,7.5,8,3,5,6]})
print(data,'\n')

meat_to_animal = {
    'bacon':'pig',
    'pulled pork':'pig',
    'pastrami':'cow',
    'corned beef':'cow',
    'honey ham':'pig',
    'nova lox':'salmon'
}

#소문자로 통일하기 위해 map(str.lower)
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
print(data,'\n')

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

# 6) Replace

In [23]:
data = pd.Series([1.,-999.,2.,-1000,3.])
print(data, '\n')

print(data.replace([-999,-1000], np.nan),'\n')
print(data.replace({-999:np.nan, -1000:0}),'\n')

0       1.0
1    -999.0
2       2.0
3   -1000.0
4       3.0
dtype: float64

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
dtype: float64

0    1.0
1    NaN
2    2.0
3    0.0
4    3.0
dtype: float64

# 7) Map, Rename

In [28]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                    index=['Ohio','Colorado','New York'],
                    columns=['one','two','three','four'])
data.index = data.index.map(str.upper)
print(data,'\n')

print(data.rename(index=str.title, columns=str.upper),'\n')
print(data.rename(index={'OHIO':'INDIANA'},columns={'three':'peekaboo'}))

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

          one  two  peekaboo  four
INDIANA     0    1         2     3
COLORADO    4    5         6     7
NEW YORK    8    9        10    11