<a href="https://colab.research.google.com/github/zasminah/DataVisualization/blob/main/Pandas_Remote_Data_Access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Remote Data Access

In [ ]:
pip install mplfinance

Requirement already satisfied: mplfinance in /usr/local/lib/python3.7/dist-packages (0.12.7a10)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mplfinance) (3.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mplfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->mplfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mplfinance) (1.15.0)

In [ ]:
import numpy as np
import datetime as dt
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib import style
import mplfinance as mpf

**Pandas Remote Data Access**, which is simpler than web crawling

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

---

In [ ]:
span = 90 # days agp
end = dt.datetime.now()
#start = dt.datetime(2021, 1, 1)
start = end - dt.timedelta(days=span) 

#yahoo = pdr.data.DataReader("TSLA", 'yahoo', start, end)
SSE = pdr.data.DataReader('005930', 'naver', start, end).astype(float) 
LGE = pdr.data.DataReader('066570', 'naver', start, end).astype(float) 
NAVER = pdr.data.DataReader('035420', 'naver', start, end).astype(float) 
KAKAO = pdr.data.DataReader('035720', 'naver', start, end).astype(float)

In [ ]:
SSE.head()

               Open     High      Low    Close      Volume
Date
2021-01-04  81000.0  84400.0  80200.0  83000.0  38655276.0
2021-01-05  81600.0  83900.0  81600.0  83900.0  35335669.0
2021-01-06  83300.0  84500.0  82100.0  82200.0  42089013.0
2021-01-07  82800.0  84200.0  82700.0  82900.0  32644642.0
2021-01-08  83300.0  90000.0  83000.0  88800.0  59013307.0

In [ ]:
SSE.tail()

               Open     High      Low    Close      Volume
Date
2021-03-29  81700.0  81700.0  81000.0  81600.0  14952134.0
2021-03-30  81600.0  82300.0  81300.0  82200.0  13121698.0
2021-03-31  82400.0  82700.0  81400.0  81400.0  17240518.0
2021-04-01  82500.0  83000.0  82000.0  82900.0  18676461.0
2021-04-02  84000.0  85200.0  83900.0  84800.0  11783489.0

In [ ]:
SSE.filter(['Open', 'High', 'Low', 'Close']).min().min()

80200.0