<a href="https://colab.research.google.com/github/zasminah/Python_DataVisualization/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np

data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002,2003],
        'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

frame = pd.DataFrame(data,columns=['year','state','pop','debt'],
                     index=['one','two','three','four','five','six'])

print(frame)
print('\n',frame.columns)
print('\n',frame['state'])
print('\n',frame.year)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

 Index(['year', 'state', 'pop', 'debt'], dtype='object')

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

 one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

To use index value, use loc

In [30]:
print('\n', frame.loc['two'])

 year     2001
state    Ohio
pop       1.7
debt      NaN
Name: two, dtype: object

Insert value

In [31]:
frame['debt'] = 20
print(frame,'\n')
frame['debt']= np.arange(6)
print(frame)

       year   state  pop  debt
one    2000    Ohio  1.5    20
two    2001    Ohio  1.7    20
three  2002    Ohio  3.6    20
four   2001  Nevada  2.4    20
five   2002  Nevada  2.9    20
six    2003  Nevada  3.2    20

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

# 1) Reindex

**Reindex - Series**

In [32]:
obj = pd.Series([4.5,7.2,-5.3,3.6], index = ['d','b','a','c'])
obj2 = obj.reindex(['a','b','c','d','e'])
print(obj,'\n')
print(obj2)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

reindex - ffill : front fill

In [33]:
obj3 = pd.Series(['blue','purple','yello'], index=[0,2,4])
print(obj3)
print('\n', obj3.reindex(range(6), method='ffill'))

0      blue
2    purple
4     yello
dtype: object

 0      blue
1      blue
2    purple
3    purple
4     yello
5     yello
dtype: object

**Reindex - DataFrame**

In [34]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                     index=['a','c','d'],
                     columns=['Ohio','Texas','California'])
print(frame)

frame2 = frame.reindex(['a','b','c','d'])
print('\n',frame2)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

    Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [35]:
states = ['Texas','Utah', 'California']
print('\n', frame.reindex(columns=states))

    Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

# 2) slicing, drop

**Series**

In [36]:
obj = pd.Series(np.arange(4), index=['a','b','c','d'])
print('\n','obj[\'b\']:','\n',obj['b'])
print('\n','obj[1]:', '\n',obj[1])
print('\n','obj[2:4]:','\n',obj[2:4]) # exclude 4
print('\n','obj[[1,3]]:','\n',obj[[1,3]])
print('\n','obj[obj<2]:','\n',obj[obj<2])
print('\n','obj[\'b\':\'c\']:','\n',obj['b':'c']) # include 'c'

 obj['b']:
 1

 obj[1]:
 1

 obj[2:4]:
 c    2
d    3
dtype: int64

 obj[[1,3]]:
 b    1
d    3
dtype: int64

 obj[obj<2]:
 a    0
b    1
dtype: int64

 obj['b':'c']:
 b    1
c    2
dtype: int64

In [37]:
obj = pd.Series(np.arange(5), index=['a','b','c','d','e'])
new_obj = obj.drop('c')
print('\n', new_obj)
print('\n', obj)
print('\n', obj.drop(['d','c']))

 a    0
b    1
d    3
e    4
dtype: int64

 a    0
b    1
c    2
d    3
e    4
dtype: int64

 a    0
b    1
e    4
dtype: int64

**DataFrame**

In [38]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
 
print('\n',data)
print('\n', data.drop(['Colorado','Ohio']))
print('\n', data.drop(['two','four'],axis='columns'))

           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

           one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

           one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

# 3)Calculation
add, sub, div, mul

In [39]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)), columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)), columns=list('abcde'))
print(df1,'\n')
print(df2,'\n')

print(df1+df2, '\n')
print(df1.add(df2, fill_value=0),'\n')

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

DataFrame & Series
(loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based,)

In [40]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['Utah','Ohio','Texas','Oregon'],
                    columns=list('bde'))
series = frame.iloc[0]

print(frame)
print('\n', series)
print('\n', frame - series)

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

 b    0
d    1
e    2
Name: Utah, dtype: int64

         b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

# 4) Function and Mapping
Use apply function

In [41]:
frame = pd.DataFrame(np.random.randn(4,3), columns =list('bde'),
                     index = ['Utah','Ohio','Texas','Oregon'])
print('\n', np.abs(frame),'\n') # Universial Function

f = lambda x: x.max()-x.min()
print('\n', frame.apply(f), '\n')
print('\n', frame.apply(f,axis=1),'\n')

def f1(x):
  return pd.Series([x.min(),x.max()], index = ['min','max'])

print('\n', frame.apply(f1), '\n')

                b         d         e
Utah    0.282212  0.079728  0.081153
Ohio    0.510812  0.335186  0.073554
Texas   0.618349  0.150038  2.277824
Oregon  0.582987  0.801325  2.001731


 b    1.129161
d    0.951362
e    2.351378
dtype: float64


 Utah      0.363366
Ohio      0.437258
Texas     2.127786
Oregon    2.803055
dtype: float64


             b         d         e
min -0.510812 -0.801325 -0.073554
max  0.618349  0.150038  2.277824

# 5) Sort

In [42]:
obj = pd.Series([1,3,2,5], index = list('dabc'))
print(obj.sort_index())
print('\n',obj.sort_values())

a    3
b    2
c    5
d    1
dtype: int64

 d    1
b    2
a    3
c    5
dtype: int64

In [43]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['Utah','Ohio','Texas','Oregon'],
                    columns=list('cab'))

print(frame.sort_index())

print('\n', frame.sort_index(axis=1))

print('\n', frame.sort_index(axis=1, ascending=False))

        c   a   b
Ohio    3   4   5
Oregon  9  10  11
Texas   6   7   8
Utah    0   1   2

          a   b  c
Utah     1   2  0
Ohio     4   5  3
Texas    7   8  6
Oregon  10  11  9

         c   b   a
Utah    0   2   1
Ohio    3   5   4
Texas   6   8   7
Oregon  9  11  10

In [44]:
print(frame.sort_values(by='b'))

        c   a   b
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [45]:
print(frame.sort_values(by=['b','a']))

        c   a   b
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [46]:
frame = pd.DataFrame({'b':[4,7,-3,2], 'a':[0,1,0,1]})
print(frame)
print('\n', frame.sort_values(by=['a','b']))

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

    b  a
2 -3  0
0  4  0
3  2  1
1  7  1

# 6)Rank

In [47]:
obj = pd.Series([7,-5,7,4,2,0,4])
print(obj.rank())

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

# 7)Duplicated Index

In [48]:
obj = pd.Series(range(5), index = ['a','a','b','b','c'])
print(obj.index.is_unique,'\n')
print(obj['a'],'\n')

df = pd.DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
print(df.loc['b'])

False

a    0
a    1
dtype: int64

          0         1         2
b  0.649799 -0.268830  1.277777
b -0.667256  0.000315 -1.400736

# 8)Statistics

In [49]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75, -1.3]], 
                  index = list('abcd'),
                  columns=['one','two'])
print(df)
print('\n', df.sum())
print('\n', df.sum(axis=1))
print('\n', df.describe())

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

 one    9.25
two   -5.80
dtype: float64

 a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

             one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

# 9) Correlation

corr(상관관계)
cov(공분산)
corrwith(Data의 모든 상관관계 반환 - Series 형태로)

In [54]:
import datetime as dt
import pandas_datareader as pdr
end = dt.datetime.now()
span = 365*5 #days ago
start = end - dt.timedelta(days=span) #days ago

SSE = pdr.data.DataReader('005930', 'naver', start, end).astype(float) 
LGE = pdr.data.DataReader('066570', 'naver', start, end).astype(float) 

# print(SSE)

priceSSEClose = SSE['Close']
priceLGEClose = LGE['Close']

print(priceSSEClose.tail())
print('\n',priceSSEClose.corr(priceLGEClose))
print('\n',priceSSEClose.cov(priceLGEClose))

Date
2021-04-08    84700.0
2021-04-09    83600.0
2021-04-12    83200.0
2021-04-13    84000.0
2021-04-14    83600.0
Name: Close, dtype: float64

 0.8146962626297714

 255250824.36206296

# 10) Nan Data

In [62]:
np.random.seed(12345)
data = pd.Series([1,np.nan, 3.5, np.nan, 7])
print(data,'\n')
print(data.dropna(),'\n')
print(data[data.notnull()],'\n')

np.random.seed(12345)
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = np.nan
df.iloc[:2, 2] = np.nan
print(df, '\n')
print(df.fillna(0),'\n')
print(df.fillna({1:0.5, 2:-2}))
print(df.fillna(method='backfill'))

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

0    1.0
2    3.5
4    7.0
dtype: float64

0    1.0
2    3.5
4    7.0
dtype: float64

          0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

          0         1         2
0 -0.204708  0.500000 -2.000000
1 -0.555730  0.500000 -2.000000
2  0.092908  0.500000  0.769023
3  1.246435  0.500000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741
          0         1         2
0 -0.204708  0.228913  0.769023
1 -0.555730  0.228913  0.769023
2  0.092908  0.228913  0.769023
3  1.246435  0.228913 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741